/* Define a custom font for the whole document */
@font-face{
    font-family: "IndieFlower";
    src: url("fonts/IndieFlower-Regular.ttf") format('truetype');
}

/* Set a global font */
*{
    font-family: "IndieFlower";
}

/* Applies only to the line below the title */
.subtitle1{
    color: #BD4255;
    text-align: center;
}

/* Line two lines below the title */
.subtitle2{
    color: rgb(189, 66, 85);
    text-align: center;
}

/* Set backgroud for header and nav to yellow */
header, nav{
    background-color: lightyellow;
    display: inline;
}

/* Catches the list of the navigator and makes it follow the screen */
nav ul{
    background-color: white;
    position: sticky;
    top: 5px;
}

/* Box properties for list elements */
li{
    margin: 8px, 300px, 8px, 200px;
    width: 600px;
    height: 25px;
    padding: 0.5cm, 0.5in, 0.5cm, 0.5in;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    display: flex;
}

/* Catches almost the entire text of the site */
body{
    background-color: lightcyan;
}

/* Catches all Day titles (Day 1, Day 2, Day 3) */
section > h2{
    text-decoration: underline overline;

    display: block;

    margin-top: 10px;
    margin-bottom: 10px;
}

/* Catches all bold text */
strong{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Catches the image of the flashlight */
img{
    display: none;
    position: static;
}

/* Catches the ordered list in day 2 */
p + ol{
    background-color: burlywood;
}