/* Define a custom font for the whole document */
@font-face{
    font-family: "IndieFlower";
    src: url("fonts/IndieFlower-Regular.ttf") format('truetype');
}

/* Media query on screen width that turns the background black */
/* Because you don't deserve to read the document if your window is too small */
@media only screen and (max-width: 1000px) {
    *{
        background-color: black;
        color: black;
    }
}

/* Set a global font */
*{
    font-family: "IndieFlower";
}

/* Applies only to the line below the title */
.subtitle1{
    color: #BD4255;
    text-align: center;
}

/* Line two lines below the title */
.subtitle2{
    color: rgb(189, 66, 85);
    text-align: center;
}

/* Set backgroud for header and nav to yellow */
header, nav{
    background-color: lightyellow;
    display: inline;
}

/* Catches the list of the navigator and makes it follow the screen */
nav ul{
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 5;
    background-color: white;
    position: sticky;
    top: 0px;
}

/* Makes a fancy blue rounded border for the navigator */
nav ul li{
    margin: 8px, 300px, 8px, 200px;
    width: 600px;
    height: 25px;
    padding: 0.5cm, 0.5in, 0.5cm, 0.5in;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    display: flex;
}

/* Structure the itemized list with a grid, separating amount from item */
div ul li{
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

/* Catches almost the entire text of the site */
body{
    background-color: lightcyan;
}

/* Catches all Day titles (Day 1, Day 2, Day 3) */
section > h2{
    text-decoration: underline overline;

    display: block;

    margin-top: 10px;
    margin-bottom: 10px;
}

/* Catches all bold text */
strong{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Catches the image of the flashlight */
img{
    display: none;
    position: static;
}

/* Catches the ordered list in day 2 */
p + ol{
    background-color: burlywood;
}

/* Captures the juicy information under the summary */
summary ~ p{
    color: darkmagenta;
    font-family: Georgia, 'Times New Roman', Times, serif;
}